[Desktop Entry]
Type=Application

Name=Typobuster
Name[pl]=Typobuster

GenericName=Simple text editor
GenericName[pl]=Prosty edytor tekstu

Comment=Simple text editor that helps you correct common typos
Comment[pl]=Prosty edytor tekstu, który pomaga korygować typowe literówki

Exec=typobuster
Icon=typobuster
Terminal=false
Categories=Settings;DesktopSettings;
